<!--
-------------------------------------------------------------------------------------------------------------------------------------------------------
NOTES:
-------------------------------------------------------------------------------------------------------------------------------------------------------
1. The bracket syntax [] speficies a binding of an attribute/property. If there is no property, use the attr. prefix to specify it is an attribute
2. The parenthesis syntax () specifies binding of an event to a function in the class, similar to the syntax -> onclick
3. visibleItems changed to wishes when passed to this component as a prop
General:
G1. for the event bindings such as (click), you can pass $event to the function and it will pass the entire event to the component for use
    which will give a lot of info about the event itself
-->

<div class="row mt-3">
    @if(wishes.length === 0) {
      <div>
        There are no wishes to display!
      </div>
    } @else {
      <ul class="wish-list">
        <!-- if using input signal syntax, must reference / call wishes as a function- e.g. wishes() -->
        @for (wish of wishes; track wish.wishText) {
          <app-wish-list-item
            [wish]="wish"
          ></app-wish-list-item>
        }
      </ul>
    }
  </div>

<!--
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
  Excerpt markdown from original implemntation with all functionality in the root app-component. This may have been either moved to other components,
  or deleted entirely based upon updates to implementation
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-->
<!-- Markdown inside the @for loop prior to moving this code into it's own component -->

          <!-- <li>
            <div class="form-check">
              <label class="form-check-label"> -->
                <!-- See notes 1 & 2 -->
                <!-- in order to use this [attr.data-index], must add `let idx = $index` back into the @for definition -->
                <!-- <input
                  class="checkbox"
                  type="checkbox"
                  [checked]="wish.isComplete"
                  [attr.data-index]="idx"
                  (click)="toggleItem(wish)"
                > {{ wish.wishText }}
              </label>
            </div>
          </li> -->

<!-- Original implementation passing individual object fields -->
          <!-- <app-wish-list-item
            [wishText]="wish.wishText"
            [(fulfilled)]="wish.isComplete"
          ></app-wish-list-item> -->
