<!--
-------------------------------------------------------------------------------------------------------------------------------------------------------
NOTES:
-------------------------------------------------------------------------------------------------------------------------------------------------------
1. The bracket syntax [] speficies a binding of an attribute/property. If there is no property, use the attr. prefix to specify it is an attribute
2. The parenthesis syntax () specifies binding of an event to a function in the class, similar to the syntax -> onclick
3. [(ngModel)] allows us to specify that we want to bind the value of the input with a property on the class
4. Event (ngModelChange) only occurs when bound ngModel value changes and it will call the callback function specified. As such, this event
   can only be used on elements that use the ngModel directive (wouldn't make sense to use it otherwise)
5. When using the event binding (ngModelChange), the $event passed into the bound method is NOT a normal event,
   but actually contains new value of the model
6. Could define a function within the component TS file to perform this functionality, but is arguably more readable and easier to just define the
   functionality in-line
7. The $event object passed by items.push($event) is NOT a normal event, but contains the VALUE from the event emitter from the add-wish-form component
8. The $event referenced by the (filter) event is the value from the wish-filter component, which in this case is actually an anonymous function.

General:
G1. for the event bindings such as (click), you can pass $event to the function and it will pass the entire event to the component for use
    which will give a lot of info about the event itself
-->

<div class = "container">

  <!-- See note 6 -->
  <app-add-wish-form
    (addWish)="items.push($event)"
  ></app-add-wish-form>

  <div class="row mt-3">
    <app-wish-filter
      (filter)="filter = $event"
    ></app-wish-filter>
  </div>
  <!-- [wishes]="" syntax passes an item / value to the prop 'wishes' in the component as an input -->
  <!-- Declaratively defined definition / code for getting wishes using the getter in the component. See Excerpt for using programatically defined method -->
  <app-wish-list [wishes]="items.filter(this.filter)"></app-wish-list>

</div>

<router-outlet />

<!--
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
  Excerpt markdown from original implemntation with all functionality in the root app-component. This may have been either moved to other components,
  or deleted entirely based upon updates to implementation
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-->

<!-- This code was moved to add-wish-form.component.html and replaced with <app-wish-form> -->
  <!-- <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label class="visually-hidden" for="specificSizeInputName">Wish</label>
      This line is a comment: See note 3
      <input type="text" name="new-wish-text" class="form-control" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="$event.preventDefault(); addNewWish()"
      >Add Wish</button>
    </div>
  </form> -->

  <!-- This code was moved to wish-list.component.html and replaced with <app-wish-list> -->
  <!-- <div class="row mt-3">
    @if(visibleItems.length === 0) {
      <div>
        There are no wishes to display!
      </div>
    } @else {
      <ul class="wish-list">
        @for (item of visibleItems; track item.wishText; let idx = $index) {
          <li>
            <div class="form-check">
              <label class="form-check-label">
                This line is a comment: See notes 1 & 2
                <input
                  class="checkbox"
                  type="checkbox"
                  [checked]="item.isComplete"
                  [attr.data-index]="idx"
                  (click)="toggleItem(item)"
                > {{ item.wishText }}
              </label>
            </div>
          </li>
        }
      </ul>
    }
  </div> -->

  <!-- This code was moved to wish-filter.component.html and replaced with <app-wish-filter> -->
  <!-- <div class="col-sm-2"> -->
    <!-- See notes 4 & 5 -->
    <!-- To use ngModelChange event, add the following to the <select> attributes/properties after [(ngModel)] -->
    <!-- (ngModelChange)="filterChanged($event)" -->
    <!-- <select
      class="form-select"
      name="list-filter"
      [(ngModel)]="listFilter"
    >
      <option value="0">All</option>
      <option value="1">Unfulfilled</option>
      <option value="2">Fulfilled</option>
    </select>
  </div> -->

  <!-- Programatically defined definition / code for getting wishes using the getter in the component -->
  <!-- <app-wish-list [wishes]="visibleItems"></app-wish-list> -->
