<div class = "container">

  <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label class="visually-hidden" for="specificSizeInputName">Wish</label>
      <input type="text" name="new-wish-text" class="form-control" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="$event.preventDefault(); addNewWish()"
      >Add Wish</button>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-sm-2">
      <select
        class="form-select"
        name="list-filter"
        [(ngModel)]="listFilter"
        (ngModelChange)="filterChanged($event)"
      >
      <!-- Note: the $event passed into the filterChanged() method is NOT a normal event, it actually contains the VALUE -->
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div>
  </div>

  <div class="row mt-3">
    @if(visibleItems.length === 0) {
      <div>
        There are no wishes to display!
      </div>
    } @else {
      <ul class="wish-list">
        @for (item of visibleItems; track item.wishText; let idx = $index) {
          <li>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  class="checkbox"
                  type="checkbox"
                  [checked]="item.isComplete"
                  [attr.data-index]="idx"
                  (click)="toggleItem(item)"
                > {{ item.wishText }}
              </label>
            </div>
          </li>
        }
      </ul>
    }
  </div>
</div>
<!-- for the (click) event binding, can pass $event to the function and it will pass the entire event to the component for use -->
<router-outlet />
